{% extends 'base.html' %}

{% block title %}Login | Astronomy Tracker{% endblock %}

{% block content %}
<section>
    <h2>Login</h2>
    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</section>
{% endblock %}
